body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*A*/
/*B*/
.bg-darkblue {
  background-color: #20263f !important;
}
.bg-user {
  background-color: #20263f ;
}
.bg-darkblue-hover:hover{
  background-color: #20263f !important;
  color: white !important;
}
.bg-gray{
  background-color: #e2e4e9;
}
.bg-none{
  background-color: #20263f00 !important;
}
.btn-darkblue {
  background-color: #20263f;
  border-color: #20263f;
}
.btn-darkblue:hover {
  background-color: #20263fe3;
  border-color: #20263fe3;
}
.btn-darkblue:disabled {
  background-color: #20263fcb;
  border-color: #20263fa8;
}
.btn-darkblue:active {
  background-color: #20263f !important;
  border-color: #20263f  !important;
}
/*C*/

/*D*/
.dropdown-item-gray:hover{
  background-color: #e2e4e9;
}
/*E*/
/*F*/
.form-check-input{
  border-radius: 0 !important;
}
.form-check-input:checked {
  background-color: #20263f !important;
  border-color: #20263f !important;
}
/*G*/
/*H*/
.h-100vh {
  height: 100vh;
}
/*I*/
.isonline{
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 50%;
  bottom: 10px;
  left: 40px;
}
/*J*/
/*K*/
/*L*/
/*M*/
/*N*/
/*O*/
/*P*/
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.pointer{
  cursor: pointer;
}

/*Q*/
/*R*/
/*S*/
.swap{
  width: 100%;
  animation: toTop 1s;
}
.switch{
  animation: opcity0_1 1s;
}
/*T*/
.text-darkblue {
  color: #20263f;
}
.text-user{
  color: white !important;
}
/*U*/
/*V*/
/*W*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*X*/
/*Y*/
/*Z*/
/*@*/
@keyframes opcity0_1 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes toTop {
    from{
      height: 100vh;
    }
    to{
      height: 0px;
    }
  }