@media (max-width: 600px) {
  /*A*/
  .aie-mobile{
    align-items: end !important;
  }
  /*B*/
  .bg-none-mobile{
    background-color: rgba(240, 248, 255, 0);
  }

  /*C*/
  /*D*/
  .d-flex-mobile{
    display: flex !important;
  }
  .d-none-mobile{
    display: none !important;
  }
  /*E*/
  /*F*/
  /*G*/
  /*H*/
  .h-100-mobile{
    height: 100% !important;
  }
  /*I*/
  /*J*/
  .jcs-mobile{
    justify-content: start !important;
  }
  /*K*/
  /*L*/
  /*M*/
  /*N*/
  /*O*/
  /*P*/

  /*Q*/
  /*R*/
  /*S*/
  /*T*/
  .top--170-mobile{
    top: -170px !important;
  }

  /*U*/
  /*V*/
  /*W*/
  .w-200px-mobile{
    width: 200px !important;
  }
  .w-98-mobile{
    width: 98% !important;
  }
  .w-100-mobile{
    width: 100% !important;
    border-radius: 0% !important;
  }

  /*X*/
  /*Y*/
  /*Z*/
}
